body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(236, 236, 236);
}
h1,h2,h3,h4,p,ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.grid-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto; 
}
.grid-main > div, .grid-main > nav, .grid-main > article {
    text-align: center;
    color: white;
}

/* TOP BAR */
.top-bar {
    text-align: center;
    grid-column: 1/13;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: rgb(22, 22, 22);
    align-self: stretch;
    padding: 1rem;
    border-bottom: 5px solid rgb(105, 38, 38);
}

/* YEAR PICKER */
.years {
    grid-column: 1/4;
    align-self: start;
}
.year-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}
.year-list > li {
    border-bottom: 3px solid rgb(27, 27, 27);
    background-color: rgb(27, 27, 27);
    padding: 15px 0;
    transition: background-color 0.3s;
    cursor: pointer;
    position: relative;
}
.year-list > li > span {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 10px;
    display: inline-block;
    transition: transform 0.2s ease;
}
.year-list > li > span:hover {
    transform: rotateZ(90deg);
}    
.year-list > li:hover {
    background-color: rgb(48, 48, 48);
    border-bottom: 3px solid rgb(105, 38, 38);
}
/* this are the lists where each person is */
.year-list ul {
    width: 100%;
    background-color: rgb(27, 27, 27);    
    max-height: 0px;
    overflow: hidden;
    box-sizing: border-box;
    transition: max-height 0.4s ease-in-out, background-color 0.3s;
}

.year-list > li:hover ul {
    background-color: rgb(48, 48, 48);    
}

.year-list li ul.expand {
    max-height: 20rem;
}
/* Individual names */
.year-list li ul li {
    padding: 10px;
    font-size: 0.8rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

.year-list li ul li:hover {
    background-color:rgb(105, 38, 38);
}    


/* CONTENT */
.content {
    grid-column: 4/13;
    min-height: 100vh;
}
.year-displayed {
    color: black;
    text-transform: uppercase;
    padding: 1rem 0;
}

/* ANIMATIONS FOR EACH PERSON'S CARD */
@keyframes grow {
    from {
        transform: scale3d(0.5, 0.5, 1);
        opacity: 0;
    }

    to {
        transform: scale3d(1,1,1);
        opacity: 1;
    }
}

/* PEOPLE */
.people-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.person {
    animation-name: grow;
    animation-duration: 0.5s;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 17% 10% auto;
    background-color: white;
    border-left: 5px solid rgb(105, 38, 38);
    color: rgb(29, 29, 29);
    margin: 1rem;
    flex-basis: 17rem;
    height: 25rem;
    flex-shrink: 1;
    align-items: center;
    overflow: hidden;
    /* box-shadow: 2px 2px 10px grey; */
}

.person-img {
    background-color: rgb(131, 48, 48);    
    background-size: cover;
    align-self: stretch;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.person-img .img-overlay {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    vertical-align: center;
    background-color: rgba(105, 38, 38, 0.95);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transform: translateX(-100%);
    transform-origin: top;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.person-img .img-overlay span{
    color: white;
}

.person-img img {
    position: relative;
    width: 100%;
    top: 0;
}

.person-img:hover .img-overlay{
    transform: rotateX(0);
}

.person-name {
    text-align: left;
    padding: 0 10px;
    font-size: 1.7rem;
    line-height: 1.7rem;
}
.person-occu {
    text-align: left;
    padding: 0 10px;
    font-size: 1.5rem;
}
.person-desc {
    text-align: left;
    padding: 0 10px;
    font-size: 1rem;
}


/* FOOTER */
.footer {
    grid-column: 1/13;
}

@keyframes details-overlay {
    0% {
        display: none;
        opacity: 0;
    }
    10% {
        display: block;
    }
    100% {
        opacity: 1;
    }
}

@keyframes details-card {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}

/* DETAILS CARD */
.person-details-container {
    z-index: 99;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    padding: 2rem 3rem;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
}

.person-details-container.show {
    opacity: 1;
    transform: none;
}    

.person-details {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.person-details .details-img {
    grid-column: 1/2;
    background-color: black;
}

.person-details .details-info {
    grid-column: 2/3;
    box-sizing: border-box;
    padding: 1rem;
    display: grid;
    align-items: start;
    grid-template-rows: 10% 10% 70% 10%;
    background-color: white;
    box-shadow: 10px 0 20px -15px black inset;
}

.details-info .details-name {
    border-bottom: 1px solid grey;
}
.details-info .details-desc-long {
    margin: 1rem 0;
}    
.details-info .details-contact {
    display: flex;
    justify-content: center;
    align-self: end;
}    
.details-info .details-contact > span {
    font-size: 2rem;
    display: inline-block;
    padding: 5px;
    margin: 0 1rem;
}

@media all and (max-width: 760px){
    .grid-main {
        grid-template-columns: 1fr;
    }

    .top-bar, .years, .footer, .content {
        grid-column: 1/2;
    }
    .person {
        flex-basis: 21rem;
        height: 27rem;
    }
    .year-list li ul li {
        font-size: 1.1rem;
    }
}